.about__copy {
    padding: 0 2rem 0 2rem;
    position: absolute;
}

p + p {
    padding-top: 1rem;
}

.about__copy em {
    color: #E24E24;
    font-style: normal;
}

.about__copy a {
    color: #C4C4C4;
    text-decoration: underline;
}

.about__copy a:hover {
    color: rgb(124, 124, 124);
    transition: ease-in-out 0.5s;
}

footer {
    position: absolute;
}

@media screen and (max-width: 860px) {
    
    .home__monogram {
        position: absolute;
        margin-top: 1rem;
    }
    
    .title {
        position: absolute;
    }

    footer {
        margin-left: 1rem;
    }

    .about__copy {
        width: 100vw;
        margin-top: 17rem;
        padding: 0 2rem 0 2rem;
    }

    h1 {
        font-size: 11rem;
        padding: 2rem 0 0 0;
    }

@media (min-width: 540px) {

    .about__copy {
        width: 100vw;
        margin-top: 20rem;
        padding: 0 2rem 0 2rem;
    }

    h1 {
        font-size: 11rem;
        padding: 2rem 0 0 0;
    }

@media (min-width: 600px) {

        .about__copy {
            width: 100vw;
            margin-top: 20rem;
            padding: 0 7rem 0 2rem;
        }
    
        h1 {
            font-size: 11rem;
            padding: 2rem 0 0 0;
        }

}

@media (min-width: 860px) {

    footer {
        position: fixed;
    }

.about__copy {
    position: absolute;
    right: 0;
    z-index: -1;
    width: 65%;
    padding-left: 2rem;
}

.orange__container {
    background-color: #E24E24;
    height: 100%;
    width: 35vw;
}

.about__copy {
    width: 70vw;
}

.blog__item {
    max-width: 100%;
    padding: 0 1rem 0 0;
}

.about__info {
    max-width: 90%;
}

.blog__item__bottom {
    padding: 0 0 3rem 0;
}

}
}
}

@media (min-width: 860px) and (max-width: 1040px) {

    .about__copy {
        width: 70vw;
        padding: 0 2rem 0 2rem;
        right: 0;
        position: absolute;
        max-width: 45rem;
    }
}

@media (min-width: 1040px) {

    .about__copy {
        padding-left: 32vw;
        max-width: 60rem;
    }
}