.blog__container {
    width: 70vw;
    padding: 0 2rem 0 2rem;
    overflow: auto;
}

.blog__item__container {
    right: 0;
    max-width: 45rem;
    position: absolute;
}

footer {
    position: absolute;
}