.blog__container {
    width: 70vw;
    padding: 0 2rem 0 2rem;
    padding-top: 50vh;
}

.blog__item__container {
    right: 0;
    max-width: 45rem;
    position: absolute;
    z-index: -1;
}

.blog__item {
    max-width: 90%;
}
footer {
    position: fixed;
}

.home__monogram {
    position: fixed;
    margin-top: 1rem;
}

.title {
    position: fixed;
}