.cv__container {
    padding: 0 2rem 0 2rem;
    padding-top: 50vh;
}

.cv__item {
    padding: 3rem 0 1rem 0;
}

.education__info {
    padding: 0 0 1rem 0;
}

.contact__info {
    padding: 0 0 2rem 0;
}

.contact__info a:hover {
        color: #A3A3A3;
        transition: 0.2s ease-in-out;
}

.cv__item__container h3 {
    padding-top: 1rem;
}

p + p {
    padding: 1rem 0 0 0;
}

.desc {
    padding: 0 0 1rem 0;
}

.cv__two__column {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.second__column {
    padding-top: 1rem;
}

.home__monogram {
    position: fixed;
    margin-top: 1rem;
}

.title {
    position: fixed;
}

@media screen and (max-width: 860px) {
    
    .home__monogram {
        position: absolute;
        margin-top: 1rem;
    }
    
    .title {
        position: absolute;
    }

    footer {
        margin-left: 1rem;
    }

    .cv__two__column {
        display: grid;
        grid-template-columns: 1fr;
    }

    .second__column {
        padding: 3rem 0 1rem 0;
    }

    .contact__info h2 {
        font-size: 1.7rem;
    }

    .cv__container {
        width: 100vw;
    }

    .cv__item {
        max-width: 100%;
    }
}

@media (min-width: 860px) {
    footer {
        position: fixed;
    }

.cv__item__container {
    position: absolute;
    right: 0;
    z-index: -1;
    width: 70%;
    padding-left: 2rem;
}

.cv__container {
    width: 70vw;
}

.cv__item {
    max-width: 85%;
}

.about__info {
    max-width: 90%;
}

@media (min-width: 1050px) {

    .cv__container {
        width: 70%;
    }

    .orange__container {
        width: 30vw;
    }
    
}

@media (min-width: 1100px) {

    .cv__item__container {
        width: 77%;
        padding-right: 3rem;
    }

    .orange__container {
        width: 23vw;
    }
    
}
}